@import '../variables';

.block_currency{
  margin-top: 20px;
  &__modal{
    position: absolute;
    top:200px;
    left:1050px;
    width: 250px;
    height: 205px;
    background-color:rgb(55, 129, 220);
    opacity: .95;
    border-radius:15px; 

  }
  &__modal-header{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-left: 50px;
  }
  &__modal-title{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    // margin-left: 80px;
  }
  &__modal-body{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 10px;
  }
  &__modal-input{
    background-color:rgba(229,229,229);
    border:1px solid rgba(229,229,229,0.2);
    align-self: center;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
  }
  &__modal-label{
    align-self: center;
    margin-bottom: 10px;
  }
  &__modal-button{
    background-color:rgba(229,229,229);
    border:none;
    border-radius:10px;
    align-self: center;
    width: 130px;
    height: 30px;
    margin-bottom: 20px;
    &:hover{
     background-color: darken(rgb(55, 129, 220), 10%);
    }
  }
  &__modal-icon{  
    color:rgba(229,229,229);
    width: 30px;
    height: 30px;
    margin-top: 10px;
    // margin-left: 40px;
    &:hover{
      color: darken(rgb(55, 129, 220), 10%);
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    font-size:18px;
    margin-bottom: 20px;
    margin-left: -20px;
  }
  &__button{
    margin-left: 80px;
    width: 25px;
    height: 25px;
    color:rgb(20,80,155);
  }
  &__col{
    font-size: 16px;
    width: 120px;
    &__first-value{
      text-align: left;
    }
    &__value{
      text-align: right;
}

  }
}