// @import 'variables';
.block{
  margin-top: 20px;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
   
    margin-bottom: 35px;
    
  }
  &__col-name{
    font-size:16px;
    margin-left: 5px;
    @media (max-width: 1060px) {
      font-size: 14px;
    }
  }

  &__col-price{
    font-size:16px;
    margin-left: 110px;
    @media (max-width: 1060px) {
      font-size: 14px;
    } 
  }
  &__col-supply{
    font-size:16px;
    margin-left: 30px;
    @media (max-width: 1060px) {
      font-size: 14px;
    }
  }
  &__col-volume{
    font-size:16px;
    margin-left: 0px;
    @media (max-width: 1060px) {
      font-size: 14px;
    }
  }

  @media (max-width: 1090px) {
    margin-bottom: 35px;
  }

  @media (max-width: 768px) {
    &:not(:last-of-type) {
      border-bottom: 1px solid #efefef;
      margin-bottom: 25px;
      padding-bottom: 45px;
    }
  }
  &__pagination{
    text-align: center;
   }
}

